{% if site.google.adsense.enabled and site.google.adsense.content_header and site.url contains 'telegeam.github.io' %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1530351503997410"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1530351503997410"
     data-ad-slot="1456914957"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- 博客-文章头部 -
<ins class="adsbygoogle content-header-ad"
     data-ad-client="ca-pub-1530351503997410"
     data-ad-slot="5860878603"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
<br />
{% endif %}
