{% if site.google.adsense.enabled and site.google.adsense.sidebar and site.url contains 'telegeam.github.io' %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1530351503997410"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-1530351503997410"
     data-ad-slot="1456914957"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- 博客右侧 --
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:360px"
     data-ad-client="ca-pub-1530351503997410"
     data-ad-slot="5860878603"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
{% endif %}
