---
layout: default
---

{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://fastly.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1530351503997410"
     crossorigin="anonymous"></script>
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h2 class="collection-header">{{ page.title }}</h2>
        <div class="collection-info">
          {% for tag in page.tags %}
          <span class="meta-info">
            <span class="octicon octicon-tag"></span>
            <a href="{{ site.url }}/fragments/?tag={{ tag }}" title="{{ tag }}">{{ tag }}</a>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column one-fourth mobile-hidden">
      <div class="collection-title">
        {% include sidebar-qrcode.html %}
      </div>
    </div>
  </div>
</div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    {% include content-header-ad.html %}
    <article class="article-content markdown-body">
    {{ content }}
    {% include copyright.html %}
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    {% include content-footer-ad.html %}
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-post-nav.html %}
    {% include sidebar-detail-ad.html %}
  </div>
</div>
</section>
<!-- /section.content -->
